<html>
	<head>
		<meta charset='utf-8' />
		<title>Forgot Password</title>
		<link rel='stylesheet' href='../../css/style.css' />
		<link rel='stylesheet' href='../../css/login.css' />
		<script
			type='text/javascript'
			src='../../js/formValidation.js'
		></script>
	</head>
	<body>
		<div class='container'>
			<div class='content'>
				<div class='form-modal'>
					<span class='title-form'>Forgot your password?</span>
					<span class='text-form'>Enter your email address and we will
						send you a link to reset your password.</span>
					<form
						class='form'
						name='forgetPasswordForm'
						action={{actionUrl}}
						method='post'
					>
						<div class='input-block center'>
							<label for='email' class='input-label'>Email</label>
							<input
								type='email'
								name='email'
								class='input-field'
								required
								onchange='validateEmailPasswordReset(this.value);'
								placeholder='e.g. email@email.cm'
							/>
							<span class='error-email'></span>
						</div>
						<input type='hidden' name='_csrf' value='{{csrf}}' />
						<div class='form-btns'>
							<input
								type='submit'
								value='Retrieve Password'
								class='btn btn-reset'
								name='submit'
							/>
							<a class='link' href='{{login}}'>Back to Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>