<html>
  <head>
    <meta charset='utf-8' />
    <title>Welcome</title>
    <link rel='stylesheet' href='./css/style.css' />
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <div class='form-modal'>
          <span class='title-form'>Welcome</span>
          <div class='welcome-message'>
            <p>Welcome, {{username}} !</p>
          </div>
          <a href='{{url}}' class='btn btn-logout'>Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>