<html>
	<head>
		<meta charset='utf-8' />
		<title>Reset Password</title>
		<link rel='stylesheet' href='../css/style.css' />
		<link rel='stylesheet' href='../css/login.css' />
		<script type='text/javascript' src='../js/formValidation.js'></script>
	</head>
	<body>
		<div class='container'>
			<div class='content'>
				<div class='form-modal'>
					<span class='title-form'>Reset Password</span>
					<span class='text-form'>Please enter a new password.</span>
					<form
						class='form'
						name='forgetPasswordForm'
						action={{actionUrl}}
						method='post'
					>
						<div class='input-block'>
							<label
								for='password'
								class='input-label'
							>Password</label>
							<input
								type='password'
								name='password'
								required
								min='4'
								autocomplete='current-password'
								class='input-field'
								onchange='validatePasswordReset(this.value);'
								placeholder='***********'
							/>
							<span class='error-password'></span>
						</div>
						<div class='input-block'>
							<label
								for='confirmPassword'
								class='input-label'
							>Confirm Password</label>
							<input
								type='password'
								name='confirmPassword'
								required
								min='4'
								autocomplete='current-password'
								class='input-field'
								onchange='validateConfirmPassword(this.value);'
								placeholder='***********'
							/>
							<span class='error-password'></span>
						</div>
						<input type='hidden' name='_csrf' value='{{csrf}}' />
						<input type='hidden' name='token' value='{{token}}' />
						<div class='form-btns'>
							<input
								type='submit'
								value='Reset Password'
								class='btn btn-reset'
								name='submit'
							/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>