<html>
	<head>
		<style>
			*{font-size: 14px; color: rgb(9, 7, 7);} body{padding: 10px 20px;
			width: 100;} .greeting span{color: rgb(1, 42, 123); width: 100%;}
			.block{ width: 100%; padding: 10px 0px; } .block .btn-reset{
			text-decoration: none; border-radius: 5px; color: rgb(1, 42, 123);
			font-weight: bold;} .block .light-txt{ font-size: 12px; padding:
			10px 0px; color: rgb(75, 75, 75); }
		</style>
	</head>
	<body>
		<p class='greeting'>Hey <span>{{name}}</span>,</p>
		<p>Please click below to reset your email</p>
		<div class='block'>
			<a href='{{url}}' target='_blank' class='btn-reset'>Reset Password</a>
			<p class='light-txt'>If you did not request this email you can
				safely ignore it.</p>
		</div>
	</body>
</html>